/*header style*/
header {
  text-align: center;
  padding: 20px;
}
/*navigation menu style*/
nav {
  text-align: center;
  word-spacing: 30px;
  padding: 10px;
}
footer {
  text-align: center;
  padding: 20px;
}
h1 {
  text-align: center;
  font-size: 500%;
  color: #fafafa;
}
h2 {
  text-align: center;
  font-size: 300%;
  color: rgb(255, 255, 255);
}
p {
  text-align: center;
  color: #fafafa;
  font-size: x-large;
}

/*profile image and heading style*/
.content {
  width: 120px;
  margin-left: 0;
  margin-right: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.tour-section {
  margin-left: 0;
  margin-right: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.world-tour-section {
  margin-left: 0;
  margin-right: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.social-links {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  font-weight: bold;
  font-size: 200%;
  text-decoration: none;
}
