/*header style*/
header {
  text-align: center;
  padding: 20px;
}
/*navigation menu style*/
nav {
  text-align: center;
  word-spacing: 30px;
  padding: 10px;
}
/*creating the two-column layout*/

/*profile image and heading style*/
.content {
  width: 120px;
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-family: Helvetica;
}
.tour-section {
  width: 120px;
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-family: Helvetica;
}

/*navigation bar style*/
nav {
  text-align: center;
  word-spacing: 30px;
  padding: 10px;
  font-family: Helvetica;
}
/*navigation bar button style*/
nav a {
  color: #000000;
  text-decoration: none;
  font-size: larger;
}
